# VS Code
.vscode/

# Sistema Windows
Thumbs.db
Desktop.ini

# Archivos temporales
*.tmp
*.temp

# Logs
*.log

# Archivos ZIP
*.zip

# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example